.players{
    margin-top: 10px;
    text-align: center;
    width: 37%;
    border: 1px solid greenyellow;
    margin-left: 200px;
    color: rgb(75, 72, 72);
    box-shadow: 5px 5px 10px gray;
}
.players img{
    height: 220px;
    width: 240px;
}